<section id="create-facility-section" class="">

  <h1 class="item">New Facility</h1>

  <main class="item padded align-center">

    <form class="layout left large" method="post" action="/facility/create">
      {{#if error}}
        <div class="error-box">
          {{#each error}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      {{/if}}
      <div class="col aligned">
        <label><span>Name</span><input type="text" name="label" /></label>
        <label><span>iconUrl</span><input type="text" name="iconUrl" /></label>
      </div>

      <div class="align-center">
        <input class="action" type="submit" value="Publish Item" />
      </div>

    </form>

  </main>

</section>